@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap");

:root {
  --color-1: #30074b;
  --color-2: #4f0962;
  --color-3: #7b2194;
  --color-4: #7d598e;
  --color-5: #b88cd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: white;
}

body {
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 5;
  border-bottom: 1px solid #b88cd744;
}

header .logo img {
  width: 76px;
  height: 76px;
  transition: 0.5s;
  opacity: 0;
  animation: slideXRight 0.8s ease forwards;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .links {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-right: 2rem;
}

header .links a {
  text-decoration: none;
  padding: 8px;
  margin: 0 5px;
  color: var(--color-3);
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}

header .links a:hover {
  background-color: var(--color-3);
  color: #fff;
}

header .btn-top {
  transition: 0.5s;
}

header .btn-top:hover {
  transform: scale(1.02);
}

header .btn-top a {
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  color: white;
  border: 0;
  background: rgb(123, 33, 148);
  background: linear-gradient(90deg, var(--color-3) 22%, var(--color-2) 100%);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  animation: slideXLeft 0.8s ease forwards;
}

header .btn-toggle {
  display: none;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
  animation-delay: 1s;
}

header .btn-toggle i {
  color: var(--color-1);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  transition: 0.5s;
}

header .btn-toggle i:hover {
  background-color: var(--color-2);
  color: #fff;
}

/* mostrar navbar em dispositivos moveis */

.show-toggle {
  background-color: #fff;
  border-left: 1px solid #b88cd744;
  border-bottom: 1px solid #b88cd744;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: end;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 101px;
  min-height: 300px;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  animation: slideXLeft 0.5s ease forwards;
}

.show-toggle .links {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: end;
  position: relative;
  right: -30px;
}

.show-toggle .btn-top a {
  font-size: 1rem;
}

/* home page */

#home {
  height: 110px;
  max-width: 100%;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.content-text {
  width: 45%;
  padding: 10px;
}

.content-text .name i {
  font-size: 25px;
  color: var(--color-4);
}

.content-text span {
  display: block;
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  color: var(--color-1);
  opacity: 0;
  animation: slideXRight 0.7s ease forwards;
  animation-delay: 0.8s;
}

.content-text h2 {
  color: var(--color-2);
  font-size: 3.8rem;
  line-height: 95%;
  max-width: 500px;
  opacity: 0;
  animation: slideXLeft 0.7s ease forwards;
  animation-delay: 0.8s;
}

.content-text p {
  color: var(--color-3);
  font-size: 0.9rem;
  line-height: 150%;
  margin-top: 1rem;
  opacity: 0;
  animation: slideXRight 0.7s ease forwards;
  animation-delay: 0.8s;
  max-width: 500px;
}

/* buttons socials */

.socials {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 40px;
  padding: 30px 0;
  border-radius: 0 20px 20px 0;
  background: rgb(123, 33, 148);
  background: linear-gradient(90deg, var(--color-3) 22%, var(--color-2) 100%);
}

/* main image */

.container-img {
  width: 45%;
  height: 60vh;
  min-width: 320px;
  border-radius: 40px 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: rgb(123, 33, 148);
  background: linear-gradient(90deg, var(--color-3) 22%, var(--color-2) 100%);
  opacity: 0;
  animation: slideXLeft 1s ease forwards;
  animation-delay: 1.5s;
}

.container-img img {
  width: 90%;
  position: absolute;
  top: -25px;
}

/* boxes benefits */

.boxes-benefits {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  margin-left: 30px;
}

.boxes-benefits .box {
  display: flex;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: -1px 1px 5px var(--color-5);
  padding: 10px;
  width: 30%;
  max-width: 350px;
  min-height: 100px;
}

.box .box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.box .box-icon i {
  color: var(--color-1);
  font-size: 2rem;
}

.box .box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box .box-text h2 {
  font-size: 1rem;
  color: var(--color-1);
  margin-bottom: 0.5rem;
}

.box .box-text p {
  color: var(--color-3);
  font-size: 0.8rem;
}

/* about */

#about {
  height: 100px;
}

.about {
  display: flex;
  opacity: 0;
  animation: slideYTop 0.8s ease forwards;
  max-width: 100%;
  background: rgb(123, 33, 148);
  background: linear-gradient(90deg, var(--color-3) 22%, var(--color-2) 100%);
  padding: 10px 10px 10px 0;
  overflow: hidden;
}

.about .about-text {
  width: 800px;
  max-width: 100%;
  margin-left: 50px;
  padding: 10px;
}

.about .about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about .about-text p {
  margin-bottom: 1rem;
  text-indent: 20px;
}

.about .about-text p span {
  font-size: 1.5rem;
  color: var(--color-5);
  font-weight: bold;
}

.about-img {
  background-image: url("../img/logoFWhite.png");
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -100px;
  right: -50px;
  opacity: 0.1;
}

/* localizacao */

#location {
  height: 100px;
}

.location,
.materials {
  color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: slideYTop 0.5s ease forwards;
  margin-left: 50px;
  margin-bottom: 80px;
}

.location-address {
  width: 40%;
  min-width: 320px;
}

.location-address iframe {
  width: 100%;
  max-width: 100%;
  height: 350px;
  border-radius: 20px;
}

.location-text {
  width: 45%;
  padding: 10px;
}

.location .location-text h1,
.materials h1 {
  font-size: 2.5rem;
  color: var(--color-3);
  margin-bottom: 1rem;
}

.location .location-text p {
  color: var(--color-1);
  margin-bottom: 1rem;
  text-indent: 20px;
  max-width: 800px;
}

.location .location-text p span {
  font-weight: bold;
  color: var(--color-5);
}

.location .location-img {
  background-image: url("../img/location.png");
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.2;
  z-index: -1000;
}

/* material */
.materials .materials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.materials .materials .material {
  width: 290px;
  height: 290px;
  margin: 20px;
  padding: 15px;
  box-shadow: 2px 2px 5px var(--color-1);
  background-color: var(--color-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.materials .materials .material:hover {
  background-color: var(--color-1);
  transform: scale(1.1);
}

.materials .materials .material img {
  width: 150px;
  height: 150px;
}

.materials .materials .material h2 {
  text-align: center;
}

/* midias sociais */
.medias {
  margin: auto;
  min-width: 90%;
  text-align: center;
  opacity: 0;
  animation: slideYTop 0.5s ease forwards;
}

.medias h1 {
  font-size: 2.5rem;
}

.medias .medias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.medias .medias .media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  height: 290px;
  width: 290px;
  margin: 20px;
  background-color: var(--color-2);
  box-shadow: 2px 2px 5px var(--color-2);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.medias .medias .media:hover {
  background-color: var(--color-1);
  transform: scale(1.1);
}

.medias .media h2 {
  font-size: 2rem;
}

.medias .media i {
  font-size: 7.5rem;
}

.medias .img-logo-medias img {
  width: 350px;
  margin: auto;
  position: relative;
  bottom: 20px;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #30074be0;
}

.logo-footer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.logo-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info-footer {
  display: flex;
  flex-direction: column;
}

.info-footer h3 {
  color: var(--color-5);
}

.info-footer ul {
  list-style: none;
  padding: 0.5rem 0 1rem;
}

.info-footer ul li {
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}

.info-footer ul li span {
  margin-left: 10px;
}

.created {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
  border-top: 1px solid #b88cd744;
}

@media (max-width: 1080px) {
  .content-text {
    width: 100%;
  }

  .container-img {
    width: 90%;
    margin: 4rem 0 2rem 80px;
  }

  .container-img img {
    width: 550px;
  }
}

@media (max-width: 870px) {
  .boxes-benefits {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .content-text h2 {
    font-size: 2rem;
  }

  .boxes-benefits .box {
    max-width: 80%;
    width: 80%;
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header .navbar {
    display: none;
  }

  header .btn-toggle {
    display: flex;
  }

  .location-address,
  .location-text,
  .content-text {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px 15px;
  }

  .container-content {
    max-width: 90%;
  }

  .location iframe {
    width: 90%;
    margin-left: 10px;
  }

  .about-img img {
    display: none;
  }
}

@keyframes slideYBottom {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideYTop {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideXLeft {
  0% {
    transform: translateX(90px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideXRight {
  0% {
    transform: translateX(-90px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
