@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mali', cursive;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
}

.logo {
    margin-left: 20px;
    width: 100px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
    transition: .5s;
}

.nav-item:hover {
    background-color: #018b857e;
}

.nav-link {
    font-weight: bolder;
    padding: 0.5em;
    color: black;
}

.nav-toggle {
    font-size: 1.5em;
    color: rgb(85, 228, 145);
    padding: 1px 10px;
    border: 1px solid rgb(85, 228, 145);
    border-radius: 5px;
}

.principal {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    height: 533px;
    background-color: rgba(120, 194, 228, 0.823);
}

.principal h1 {
    line-height: 100px;
    font-size: 5em;
    max-width: 700px;
    position: relative;
    margin-right: -800px;
}

.principal h1, h2 {
    font-weight: lighter;
    color: white;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    margin-left: 20px;
}

.principal img {
    width: 800px;
    border-radius: 250px 0 0 250px;
}

.btn {
    background-color: rgb(85, 228, 145);
    color: white;
    border: .5px solid white;
    border-radius: 8px;
    padding:  0.6em 1.5em;
    margin: 2.5em 1em;
    font-size: 1em;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.363);
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: rgb(78, 219, 137);
    color: black;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.conteudo img {
    width: 300px;
    margin: 1em 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em;
    width: 450px;
}

.frases {
    text-align: center;
    color: blueviolet;
}

.frases h1 {
    font-size: 2em;
}

.frases p {
    font-size: 1.3em;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 0;
}

.card {
    text-align: center;
    margin-top: .5em;
    padding-top: .5em;
}

.card img {
    width: 230px;
    border-radius: 10px 10px 0 0;
}

.sobrepor {
    position: relative;
    margin-top: -6px;
    border-radius: 0 0 10px 10px;
}

.sobrepor h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
}

.cor1 {
    background-color: rgba(201, 145, 253, 0.823);
}

.cor2 {
    background-color: rgba(253, 122, 236, 0.823);
}

.cor3 {
    background-color: rgba(85, 228, 145, 0.823);
}

.cor4 {
    background-color: rgba(120, 194, 228, 0.823);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(85, 228, 145, 0.823);
    margin-top: 20px;
    padding: 20px 0;
}

.redes {
    margin: 0 30px; 
}

.redes-sociais {
    display: flex;
    justify-content: space-around;

}

.footer i {
    font-size: 1.5em;
    margin: 5px;
}

.none {
    display: none;
}

@media(max-width: 480px) {

    .nav-item {
        font-size: .8em;
    }

    .principal {
        text-align: center;
        height: 340px;
    }

    .principal h1 {
        font-size: 3.5em;
    }

    .container .conteudo img {
        width: 300px;
    }

    .box {
        font-size: 1em;
    }

    .box {
        text-align: center;
    }
    
    .card img {
        width: 170px;
    }

    .sobrepor h3 {
        height: 60px;
        font-size: .9em;
    }

}

@media(max-width: 700px) {
    .nav {
        margin-left: auto;
    }
}

@media(max-width: 768px) {

    .principal h1, h2 {
        margin-left: 0;
    }
    .principal {
        text-align: center;
        height: 400px;
    }

    .box h1, p {
        font-size: 1.5em;
    }

}

@media (max-width: 1213px) {
    .principal {
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }

    .principal h1 {
        position: relative;
        margin-right: 0;
    }

    .principal img {
        display: none;
    }
}
